/*Scenario: The community bulletin needs to be displayed like a newspaper.
Objective: Use CSS3 multi-column layout.*/
.news-article p {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid gray;
}